%h1
  Acessos CRM Igrejas - PE
%p
  (Clique aqui para acessar a plataforma)
%main
  %table
    %thead
      %tr
        %th
          Igrejas
        %th
          E-mail
        %th
    %tfoot
      %tr
        %th{:colspan => "3"}
          Última atualização: 20/07/2023
    %tbody
      %tr
        %td{:data => {:title => "Provider Name"}}
          Catedral da Fé
        %td{:data => {:title => "E-mail"}}
          pe_pernambuco_001017005001@universal.org
        %td{:class => "select"}
          %a{:href => "#",:class => "button"}
            Detalhes
      %tr
        %td{:data => {:title => "Provider Name"}}
          Mário Melo
        %td{:data => {:title => "E-mail"}}
          pe_pernambuco_001017005001@universal.org
        %td{:class => "select"}
          %a{:href => "#",:class => "button"}
            Detalhes
      %tr
        %td{:data => {:title => "Provider Name"}}
          Afogados
        %td{:data => {:title => "E-mail"}}
          pe_afogados_001017005004@universal.org
        %td{:class => "select"}
          %a{:href => "#",:class => "button"}
            Detalhes
      %tr
        %td{:data => {:title => "Provider Name"}}
          Encruzilhada
        %td{:data => {:title => "E-mail"}}
          pe_encruzilhada_001017005113@universal.org
        %td{:class => "select"}
          %a{:href => "#",:class => "button"}
            Detalhes
  %div.detail
    %div.detail-container
      %dl
        %dt
          Igreja
        %dd
          Catedral da Fé
        %dt
          Região
        %dd
          Sede Estadual
        %dt
          Bloco
        %dd
          Recife
        %dt
          Login
        %dd
          pe_pernambuco_001017005001
        %dt
          Senha
        %dd
          7IKn0OLS
        %dt
          Endereço
        %dd
          Av. Cruz Cabugá, nº 141, Santo Amaro, Recife, PE, CEP: 50.040-000
        %dt
        %dt
          Situação
        %dd
          Própria
        %dt
          Capacidade
        %dd
          4.700 lugares
        %dt
          Pastor Responsável
        %dd
          Joel Fernandes
        %dt
          Contato
        %dd
          (81) 98191-8218
        %dt
          CNPJ
        %dd
          29.744.778/3767-23
        %dt
          Data de Inauguração
        %dd
          10/04/2005
        %dt
          Última Atualização
        %dd
          20/07/2023
        %dt  
          Observações
        %dd
          Sede Estadual.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
    %div.detail-nav
      %button.close
        Fechar